<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- <i class="fas fa-exclamation"></i> -->
    <!-- <i class="fas fa-check-circle"></i> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" type="image/png" href="images/logo.png">

    <!-- Bootstrap CSS -->
    <link href='http://cdn.font-store.ir/yekan.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/baf65fcc4b.js" crossorigin="anonymous"></script>
    <script>
      var timer = setTimeout(function() {
          window.location='https://t.me/dastyarboursebot?start=payed'
      }, 5000);
    </script>
    <style>
      body{
        padding-top: 5%;
        background-color: grey;
      }
      .display{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10px;
        font-family: Lotus;
      }

    </style>

    <title>پرداخت موفق</title>
  </head>
  <body>

    <div class="container">
      <div class="card display" style="width: 18rem;">
        <i class="fas fa-check-circle fa-10x text-success" style="text-align: center;"></i><br>
        <div class="card-body">
          <h5 class="card-title">پرداخت موفق</h5>
          <p class="card-text">{{ message }}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
